.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "sidebar content1 content1"
      "sidebar content2 content3"
      "footer footer footer";
  
    gap: 7px;
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .Header {
    grid-area: header; /*Como se fosse o apelido*/
    background-color: rgb(255, 187, 0);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main1 {
    grid-area: content1;
    background-color: rgb(112, 5, 5);
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main2 {
    grid-area: content2;
    background-color: rgb(98, 5, 112);
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main3 {
    grid-area: content3;
    background-color: rgb(98, 5, 112);
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: orangered;
    height: 525px;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    grid-area: footer;
    background-color: rgb(255, 187, 0);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  